<h1><%= @artist.artist_name %></h1>

<p>Country: <%= @artist.country %></p>
<%= image_tag @artist.image %>

<hr>

<%= link_to "[Edit]", edit_artist_path(@artist.id) %>
<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
