<h1><%= @artist.artist_name %></h1>

<p>Country: <%= @artist.country %></p>
<%= image_tag @artist.image %>



<h4>List of songs:</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |music| %>
      <li><%= music.song_title %></li>
      <li><%= music.duration %></li>

    <% end %>
  </ul>
<% else %>
  <p>There are no songs from this artist.</p>
<% end %>



<hr>

<%= link_to "[Edit]", edit_artist_path(@artist.id) %>
<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
