<div class="panel panel-primary">
   <div class="panel-heading"> <h2><%= @artist.name %></div></h2>
    <div class="panel-body">
      <p>Country: <%= @artist.country %></p>

      <% if @artist.image? %>
        <%= image_tag @artist.image, class: "small-image-size" %>
      <% end %>

      <h4>List of songs:</h4>

      <% if @artist.songs.any? %>
        <ul>
          <% @artist.songs.each do |song| %>
            <li>
              <p><%= song.title %></p>
              <p>Duration: <%= song.duration %></p>
            </li>

            <%= link_to 'Delete song', artist_song_path(@artist, song), method: :delete, data: { confirm: 'Are you sure that you want delete this song?'}, class: "btn btn-default"  %>

            <br><br>
          <% end %>
          </ul>
      <% else %>
        <p>There are no songs from this artist.</p>
      <% end %>
<%= link_to 'Add Song', new_artist_song_path(@artist), class: "btn btn-default" %>
  </div>
</div>
<%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
<%= link_to "Back to Artists", root_path, class: "btn btn-primary" %>
