<div class="panel panel-primary">
  <div class="panel-heading">
  <p> <strong>Song title:</strong>  <%= @song.song_title %> </p>
  <p> <strong>Duration:</strong>  <%= @song.duration %></p>
  </div>

    <div class="panel-body">

<p> Listen to this song: </p>

<% if @song.youtube_link? %>
<iframe width="560" height="315" src="<%= @song.youtube_link %>" frameborder="0" allowfullscreen></iframe>
<%end%>
<br>
<%= link_to 'Edit Song', edit_song_path(@song), class: "btn btn-default" %>
<%= link_to 'Back to Songs', artist_path(@song.artist), class: "btn btn-default" %>


  </div>
</div>
<%= link_to "Back to Artists", root_path, class: "btn btn-primary" %>
